body{
  padding: 0;
  margin: 0;
  background-image: url(https://lagunalawnservice.com/img/galeria12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a{
font-size: 32px;
color: rgb(46, 4, 4);
text-align: center;
padding: 8px;
text-decoration: none;
text-shadow: 1px 2px;
}
.mensaje{
  margin-top: 160px;
  width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg,blue 1.47%, green 88.47%);
  border-radius: 0.4rem;
  text-align: center;
}
.mensaje p{
  margin-top: 10px;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-size: 60px;
}